html {
    width:100%;
    height:100%;
}
body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    overflow: hidden;
}

canvas {
    width:100%;
    height:100%;
    overflow: hidden;
}